body {
  margin: 0;
  font-family: 'Purista', sans-serif;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.full-width {
  width: 100%;
  display: block;
  max-width: 1440px;
  margin: 0 auto;
}

.main-header {
  background-color: transparent;
  color: #fff;
  padding: 1rem 0;
  position: absolu...
